@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.t-dblue {
    color: #04146c;
}

.t-blue {
    color: #0a2ff1;
}

.t-title{
    font-size: 37.48px;
    font-weight: 900;
}

.t-subtitle{
    font-size: 21.5px;
    font-weight: 700;
}

.t-para {
    font-size: 19.97px;
    font-weight: 400;
    padding-top: 15px;
}

.contenedor{
    width: 750px;
    margin: 0 auto;
}

.enunciado{
    padding: 30px 0;
    height: 152px;
}

.flex{
    display: flex;
    flex-direction: row;
}

img {
    width: 55px;
    margin-right: 15px;
    align-self: flex-start;
}